# Les collections de données (data structures) - partie 1: Les listes
----

## Les listes

La liste est probablement la collection de données la plus flexible en python.
Elle est <b>muable</b>, ce qui signifie qu'elle peut être modifiée sans limite. <br>
Vocabulaire associé aux listes: <b>élément</b> (valeur, datatype, data structure), <b>index</b> (position)

### Création de listes

In [ ]:
# Création d'une liste simple

list1 = [13, "voiture", True, 10.35]
list1

[13, 'voiture', True, 10.35]

In [ ]:
# Création d'une liste de listes

list2 = [
         [1, 2, 3], 
         [4, 5, 6]
        ]
list2

[[1, 2, 3], [4, 5, 6]]

In [ ]:
# Création d'une liste contenant plusieurs collections de données

list3 = [[1, 2, 3], {"prenom": ["Benoit", "Clarisse", "Emilie", "Andrei"]}, (4, 5, 6)]
list3

[[1, 2, 3], {'prenom': ['Benoit', 'Clarisse', 'Emilie', 'Andrei']}, (4, 5, 6)]

### Récupération d'éléments d'une liste via les indices (index)

In [ ]:
list_int = [1, 2, 3, 4, 5, "camion"]

In [ ]:
# indexing : indice défini

list_int[2]

3

In [ ]:
list_int[-1]

'camion'

In [ ]:
# slicing: tout jusqu'à l'indice (index) 3 exclu

list_int[:3]

# -- OU -- 

list_int[0:3]

[1, 2, 3]

In [ ]:
# slicing : les éléments 4 et 5 inclus de la liste

list_int[-3:-1]

[4, 5]

In [ ]:
# slicing: tous les élements de la liste, de 2 en 2

list_int[::2]

[1, 3, 5]

In [ ]:
# slicing : tous les éléments de la liste en partant de l'élément à l'index 1, de 2 en 2

list_int[1::2]

[2, 4, 'camion']

In [ ]:
# slicing: tous les élements jusqu'à l'index 4 exclu, de 2 en 2

list_int[:4:2]

[1, 3]

In [ ]:
# indexing: le 1er élément de la liste de listes

list2[1]

[4, 5, 6]

In [ ]:
# indexing: l'élément qui a pour valeur "2" dans la liste de listes

list2[0][1]

2

### Ajouter des éléments dans une liste

- .append(element) -> ajouter UN élément en dernière position (index -1)
- .insert(index, element) -> ajouter UN élément à l'index spécifié 
- .extend(element/liste) -> ajouter UN ou PLUSIEURS éléments en dernières postions

In [ ]:
cours = ["Histoire", "SVT", "EPS", "Arts Plastiques"]

In [ ]:
# méthode ".append()"

cours.append("Maths")
cours

['Histoire', 'SVT', 'EPS', 'Arts Plastiques', 'Maths']

In [ ]:
# méthode ".insert()"

cours.insert(2, "Musique")
cours

['Histoire', 'SVT', 'Musique', 'EPS', 'Arts Plastiques', 'Maths']

In [ ]:
# méthode ".extend()"

cours_2 = ["Anglais", "Espagnol", "Allemand"]

cours.extend(cours_2)
cours

['Histoire',
 'SVT',
 'Musique',
 'EPS',
 'Arts Plastiques',
 'Maths',
 'Anglais',
 'Espagnol',
 'Allemand']

### Modification d'un/plusieurs élément(s) d'une liste

In [ ]:
# modification d'un élément d'une liste (à un indice spécifié)

cours[2] = "Géographie"
cours

['Histoire',
 'SVT',
 'Géographie',
 'EPS',
 'Arts Plastiques',
 'Maths',
 'Anglais',
 'Espagnol',
 'Allemand']

In [ ]:
# Modification de plusieurs éléments d'une liste (aux indices spécifiés)

cours[2:5] = "Latin", "Grec", "Arabe"
cours

['Histoire',
 'SVT',
 'Latin',
 'Grec',
 'Arabe',
 'Maths',
 'Anglais',
 'Espagnol',
 'Allemand']

### Supprimer des éléments d'une liste

- .pop(index) -> supprimer UN élément par rapport à son index
- .remove(element) -> supprimer un élément par rapport à sa valeur

In [ ]:
# méthode ".pop()"

removed = cours.pop(-3)
removed

'Anglais'

In [ ]:
cours

['Histoire', 'SVT', 'Latin', 'Grec', 'Arabe', 'Maths', 'Espagnol', 'Allemand']

In [ ]:
# méthode ".remove()"

cours.remove("SVT")
cours

['Histoire', 'Latin', 'Grec', 'Arabe', 'Maths', 'Espagnol', 'Allemand']

In [ ]:
# Alternative: del

del cours[-2]
cours

['Histoire', 'Latin', 'Grec', 'Arabe', 'Maths', 'Allemand']

### Classer les éléments d'une liste

In [ ]:
# solution 1: la méthode ".sort()"

cours.sort()
cours

['Allemand', 'Arabe', 'Grec', 'Histoire', 'Latin', 'Maths']

In [ ]:
cours.sort(reverse=True)
cours

['Maths', 'Latin', 'Histoire', 'Grec', 'Arabe', 'Allemand']

In [ ]:
# solution 2: la fonction "sorted()". Le classement ne s'applique pas automatiquement.

cours = sorted(cours)
cours

['Allemand', 'Arabe', 'Grec', 'Histoire', 'Latin', 'Maths']

### Itérer dans une liste

In [ ]:
for i in range(len(cours)):
  print("Cours n°{}: {}" .format(i, cours[i]))

Cours n°0: Allemand
Cours n°1: Arabe
Cours n°2: Grec
Cours n°3: Histoire
Cours n°4: Latin
Cours n°5: Maths

In [ ]:
list(enumerate(cours))

[(0, 'Allemand'),
 (1, 'Arabe'),
 (2, 'Grec'),
 (3, 'Histoire'),
 (4, 'Latin'),
 (5, 'Maths')]

----

### Ressources

- List manipulation with python: https://towardsdatascience.com/python-basics-6-lists-and-list-manipulation-a56be62b1f95
- Python List/Array Methods: https://www.w3schools.com/python/python_ref_list.asp
- Indexing and slicing in lists: https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/
- List comprehension: https://python.doctor/page-comprehension-list-listes-python-cours-debutants